<html ng-app="wish">

<head>
    <title>Happy Bday Deepu</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="app/css/wishes.css">
    <link rel="stylesheet" href="app/css/video.css">
</head>

<body>
    <div ng-controller="flipPhoto">
    <!--<div ng-if="displayPicFrame" class="wordContent wordFont col-md-7 col-sm-7">
            <div>Happy Birthday to You</div>
            <div class="nameDisplay">{{nameDisplayed}}</div>
        </div>
        <div ng-if="displayPicFrame"style="margin-left:60%">
            <div class="picture-frame flip">
                <div class="matte">
                    <img class="art" src="app/images/{{imageDisplayed}}">
                </div>
            </div>
        </div> ng-if="displayPicFrame != 'true'"-->
        <div class="col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-offset-3 col-xs-6 wordContent wordFont">
            <div class="curtain">
                <div class="curtain__wrapper">
                    <input type="checkbox" checked>
                    <div class="curtain__panel curtain__panel--left">
                        <h1>Are You<br><span id="clickDisplay" style="float:right">Click</span></h1>
                    </div>
                    <!-- curtain__panel -->
                    <div class="curtain__content">
                        <!--<video class="col-md-11 col-xs-11 col-sm-11" height="440" autoplay>
                            <source src='' type="video/mp4">
                        </video>-->

                        <iframe src={{videoBy}} class="col-md-11 col-xs-11 col-sm-11" height="440" autoplay></iframe>
                    </div>
                    <div class="curtain__panel curtain__panel--right">
                        <h1>&nbspReady...<br><span id="clickDisplay" style="float:left">&nbsphere</span></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="node_modules/jquery/dist/jquery.min.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="node_modules/angular/angular.min.js"></script>
<script src="node_modules/angular-material/angular-material.min.js"></script>
<script src="app/scripts/wishes.js"></script>
</body>

</html>