<html ng-app="wish" >

    <head>
        <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css">
        <link rel="stylesheet" href="app/css/wishes.css"> 
    </head>

    <body
       <div ng-controller="flipPhoto" >
            <div ng-if="displayPicFrame" class="wordContent wordFont col-md-7 col-sm-7">
                <div>Happy Birthday to You</div>
                <div class="nameDisplay">{{nameDisplayed}}</div>
            </div>
            <div ng-if="displayPicFrame"style="margin-left:60%">
                <div class="picture-frame flip">
                    <div class="matte">
                        <img class="art" src="app/images/{{imageDisplayed}}">
                    </div>
                </div>
            </div>
            <div ng-if="displayPicFrame != 'true' && displayVideoFrame = 'false'" class="col-md-offset-3 wordContent wordFont">
                <h1 class="numberFontSize" style="margin-top:100px">Are You Ready....</h1>
                <h3 class="nameDisplay">{{numberDisplayed}}</h3 
            </div>
            <div class=""></div>
        </div>
        <script src="node_modules/jquery/dist/jquery.min.js"></script>
        <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="node_modules/angular/angular.min.js"></script>
        
        <script src="node_modules/angular-material/angular-material.min.js"></script>
        <script src="app/scripts/wishes.js"></script>
    </body>

</html>