
body {
 background:url('../images/bg.jpg'); 
 overflow:hidden;
}

.picture-frame {
  background-color:blue;
  width: 70%;
  border:#2e3192 solid 20px;
  border-radius: 10px;
  height:90%;
  -webkit-box-shadow: 4px 13px 59px 8px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 13px 59px 8px rgba(0,0,0,0.75);
  box-shadow: 4px 13px 59px 8px rgb(42,198,248);
  margin:40px 50px 50px 50px;
}
.matte {
  background-color:rgba(0,0,0,0.75);
  height:100%;
}

.art {
  width:90%;
  height:93%;
  margin:5% 5% 5% 5%;
}

.flip{
  animation-name: flipper;
  animation-duration: 12s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes flipper{
  0% {transform:rotatey(0deg);} 
  25% {transform:rotatey(0deg);}
  75% {transform:rotatey(360deg);}
  100% {transform:rotatey(360deg);}
}
  
.wordContent{
  margin-top: 12%;
  margin-left:5%;
}

.nameDisplay{
  position: relative;
  animation: pop-out 8s ease-in-out infinite;
  color: black;
}   
.wordFont {
  font-family: 'Bangers', cursive; 
  letter-spacing: 0.05em;
  color: white;
  padding: 0.5em;
  font-size: 55px;
  text-align: center;
}
.numberFontSize{
  font-size: 75px;
}
@keyframes pop-out{
  0%{transform: scale3d(1, 1, 1);opacity: 1}
  25%{transform: scale3d(1, 1, 1);opacity: 1}
  100%{transform: scale3d(1, 1, 1);opacity: 0}
}
  
