
body {
 background:url('../images/background.jpg'); 
}

.picture-frame {
  background-color:blue;
  width: 80%;
  border:#2e3192 solid 20px;
  border-radius: 10px;
  height:90%;
  -webkit-box-shadow: 4px 13px 59px 8px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 13px 59px 8px rgba(0,0,0,0.75);
  box-shadow: 4px 13px 59px 8px rgb(42,198,248);
  margin:40px 50px 50px 50px;
}
.matte {
  background-color:rgba(0,0,0,0.75);
  height:100%;
}

.art {
  width:90%;
  height:93%;
  margin:5% 5% 5% 5%;
}

.flip{
  animation-name: flipper;
  animation-duration: 12s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes flipper{
  0% {transform:rotatey(0deg);} 
  25% {transform:rotatey(0deg);}
  75% {transform:rotatey(360deg);}
  100% {transform:rotatey(360deg);}
}

/*html, body, h1
  
  height: 100%
  width: 100%

body
  transition: background-color 0.3s ease-in
  font-family: 'Open Sans', sans-serif
  background-color: hsl(350, 100%, 50%)
  
  // in firefox, a transformed element causes a scroll when it extends beyond the element's size, so we'll disable it
  overflow: hidden
  
  font-size: 12px
  
  @media (min-width: 480px)
    font-size: 14px
  
  @media (min-width: 640px)
    font-size: 16px
  */

  
.wordTransition{
  height: 100%;
  width: 100%;
  position: relative;
  top: -1rem;
  animation: pop-out 2s ease-in-out infinite;
}
  
    
.wordFont {
  font-family: 'Bangers', cursive;
  letter-spacing: 0.05em;
  color: white;
  padding: 0.5em;
  font-size: 28px;
}
@keyframes pop-out{
  0%{
    transform: scale3d(0, 0, 1);
  opacity: 1}
  25%{
    transform: scale3d(1, 1, 1);
  opacity: 1}
  100%{
    transform: scale3d(1.5, 1.5, 1);
  opacity: 0}
}
  
a, a:visited
  color: inherit
